#CHANGES IN UPSTREAM REMOTE REPOSITORY

version: '3.7'

services:
  gitlab:
    container_name: gitlab
    image: 'gitlab/gitlab-ee:latest'
    restart: always
    hostname: '192.168.1.20'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://192.168.1.20:8929'
        gitlab_rails['gitlab_shell_ssh_port'] = 2224
        gitlab_rails['lfs_enabled'] = true
        gitlab_rails['lfs_storage_path'] = "/var/opt/gitlab-lfs"
        gitlab_rails['lfs_object_store_enabled'] = true
        gitlab_rails['lfs_object_store_remote_directory'] = "lfs-objects"
        gitlab_rails['object_store_background_upload'] = false
        gitlab_rails['object_store_proxy_download'] = false
        gitlab_rails['lfs_object_store_connection'] = {
        'provider' => 'AWS',
        'aws_access_key_id' => 'minioadmin',
        'aws_secret_access_key' => 'miniopassword',
        'endpoint' => 'http://minio:9000',
        'path_style' => true
        }

    ports:
      - '8929:8929'
      - '2224:22'
    volumes:
      - '/opt/docker/gitlab/config:/etc/gitlab'
      - '/opt/docker/gitlab/logs:/var/log/gitlab'
      - '/opt/docker/gitlab/data:/var/opt/gitlab'
      - '/opt/docker/gitlab/lfs:/var/opt/gitlab-lfs'

  minio:
    container_name: minio
    image: docker.io/bitnami/minio:2022
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - 'minio_data:/data'
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=miniopassword
      - MINIO_DEFAULT_BUCKETS=lfs-objects

volumes:
  minio_data:
    driver: local
